
*
{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-vertical
{
    background-color: #444;
    width: 200px;
    position: fixed;
}

.menu-vertical a
{
   display: block;
   color: #fff;
   text-decoration: 10px;
   margin-bottom: 5px;
}

.cabecalho
{
    background-color: #333;
    color: #fff;
    text-align: center;
}

.conteudo
{
    padding: 20px;
    font-size: 20px;
}

.menu
{
    color: #fff;
    background-color: #444;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu a
{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.rodape
{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}